<div class="clippy">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <div class="content">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> of <%= dose.ingredient.name %>
            <%= link_to "delete this dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete this dose?" } %></li>
        <% end %>
      </ul>
      </div>
      <div class="nav-list">
        <ul>
          <li><%= link_to "Back", cocktails_path %></li>
          <li><%= link_to "Add Dose", new_cocktail_dose_path(@cocktail) %></li>
          <li><%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
      </div>
  </div>
</div>
